<!-- prettier-ignore -->
{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Password Update{% endblock %}

{% block content %}

<div class="max-w-sm bg-white rounded-3xl text-center p-2 mt-5 mx-auto">
  <div class="text-3xl text-black">
    Hello,
    <small class="text-2xl text-gray-700">{{ request.user|title }}</small>
  </div>
</div>

<form method="post" class="max-w-sm mt-5 mx-auto">
  <div class="text-3xl mb-5">Update Password</div>
  {% csrf_token %}
  <div class="mb-5">
    <!-- prettier-ignore -->
    {{ form.old_password.label_tag }} {{ form.old_password|add_class:"text-black text-sm rounded-lg focus:ring-blue-500 w-full p-2.5" }}
  </div>
  <div class="mb-5">
    <!-- prettier-ignore -->
    {{ form.new_password1.label_tag }} {{ form.new_password1|add_class:"text-black text-sm rounded-lg focus:ring-blue-500 w-full p-2.5" }}
  </div>
  <div class="mb-5">
    <!-- prettier-ignore -->
    {{ form.new_password2.label_tag }} {{ form.new_password2|add_class:"text-black text-sm rounded-lg focus:ring-blue-500 w-full p-2.5" }}
  </div>
  <div class="mb-5">
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Save
    </button>
  </div>
</form>

<div class="max-w-sm mt-5 mx-auto">
  <div class="text-3xl mb-5">Delete Account</div>
  <div class="mb-5">
    <a
      href="{% url 'delete_user' %}"
      class="text-white bg-rdd-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
      >Delete Account</a
    >
  </div>
</div>
{% endblock %}
