<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}Password Update Done{% endblock %}

{% block content %}
<div class="max-w-sm mt-5 mx-auto">
  <div class="text-3xl mb-5">Password updated</div>
  <p class="my-3">Your password has been successfully changed.</p>
  <div class="col-md-3 d-grid">
    <a
      href="{% url 'home' %}"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >Go to Home</a
    >
  </div>
</div>
{% endblock %}
